<table>
  <thead>
    <tr>
      <th>Posting</th>
      <% if user_signed_in?%>
      <th>Author</th>
      <% end %>
    </tr>
  </thead>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.post %></td>
    <% if user_signed_in?%>
    <td><%= post.user.name %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
        <li>
          <%= link_to('New post', new_post_path) %>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path) %>  
    </li>
  <% end %>
